Repository NewFuture/my-stickers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.web.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines.web.yml: any of: web, azure-pipelines.web.yml
  azure-pipelines.yml: any of: manifest

ci(azure): manifest build
  manifest/azure-pipelines.yml
  manifest/src/manifest.json
  package.json
  server/.env.example
Due: azure-pipelines.yml

ci(azure): manifest node
  manifest/azure-pipelines.yml
  manifest/gulpfile.js
Due: azure-pipelines.yml

ci(azure): manifest PublishBuildArtifacts
  manifest/azure-pipelines.yml
Due: azure-pipelines.yml

build(manifest): build package
  manifest/gulpfile.js
  manifest/package-lock.json
  manifest/package.json
Due: azure-pipelines.yml

ci(azure): manifest events var
  manifest/azure-pipelines.yml
Due: azure-pipelines.yml

docs(readme): update manifest status
  readme.md
Due: none

feat(web): statement
  web/package-lock.json
  web/package.json
  web/public/index.html
  web/public/logo192.png
  web/public/logo512.png
  web/public/manifest.json
  web/public/privacy.html
  web/public/robots.txt
  web/public/terms.html
Due: azure-pipelines.web.yml

feat(web): inject api root when build prod
  web/azure-pipelines.yml
  web/src/lib/http.ts
Due: azure-pipelines.web.yml

feat(web): scss and route
  web/package.json
  web/src/App.css
  web/src/App.scss
  web/src/App.tsx
  web/src/index.tsx
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
  web/src/pages/config.tsx
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

feat(web): pre-render
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/locales/index.ts
  web/src/pages/notfound.tsx
Due: azure-pipelines.web.yml

feat(markdown): user markdown file as static statements
  web/package-lock.json
  web/package.json
  web/public/privacy.html
  web/public/terms.html
  web/src/App.tsx
  web/src/components/markdown.scss
  web/src/components/markdown.tsx
  web/src/markdown/privacy.md
  web/src/markdown/terms.md
  web/src/pages/privacy.tsx
  web/src/pages/terms.tsx
  web/src/react-app-env.d.ts
Due: azure-pipelines.web.yml

feat(web): prototype and fix tests
  web/public/hello.gif
  web/src/App.test.tsx
  web/src/components/chat/ChatWithPopover.tsx
  web/src/components/chat/Popover.tsx
  web/src/components/chat/Prototype.tsx
  web/src/components/chat/index.test.tsx
  web/src/components/chat/index.tsx
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

feat(manifest): bot id 环境配置
  manifest/azure-pipelines.yml
  manifest/gulpfile.js
  manifest/src/manifest.json
Due: azure-pipelines.yml

feat(server/web): upload images
  server/gulpfile.js
  server/package-lock.json
  server/package.json
  server/src/router/api.ts
  server/src/services/file.ts
  server/src/services/sticker.ts
  server/src/util/base64.ts
  server/src/util/uuid.ts
  web/azure-pipelines.yml
  web/package-lock.json
  web/src/lib/http.ts
  web/src/services/upload.ts
Due: azure-pipelines.web.yml

feat(server/web): list my stickers
  server/src/middleware/authorize.ts
  server/src/router/api.ts
  server/src/services/token.ts
  server/src/util/base64.ts
  web/src/pages/config.tsx
  web/src/services/get-stickers.ts
  web/src/services/teams.ts
Due: azure-pipelines.web.yml

feat(web): config
  web/src/components/chat/Popover.tsx
  web/src/pages/config.tsx
Due: azure-pipelines.web.yml

feat(web): open Dialog
  web/src/components/chat/ChatWithPopover.tsx
  web/src/components/chat/Popover.tsx
  web/src/components/chat/Prototype.tsx
Due: azure-pipelines.web.yml

feat(web): 下载链接
  web/src/components/chat/Prototype.tsx
  web/src/components/chat/index.tsx
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

feat(web): select images prototype
  web/src/components/Prototype.tsx
  web/src/components/chat/ChatWithPopover.tsx
  web/src/components/chat/index.tsx
  web/src/components/compose/BottomMenu.tsx
  web/src/components/compose/SearchBox.tsx
  web/src/components/compose/index.tsx
  web/src/components/gutter.tsx
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

fix(web): fix build errors
  web/package.json
  web/src/components/Prototype.tsx
  web/src/components/chat/ChatWithPopover.tsx
  web/src/components/chat/index.test.tsx
  web/src/components/compose/BottomMenu.tsx
  web/src/components/compose/SearchBox.tsx
  web/src/components/compose/index.tsx
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

feat(web): i18n
  .prettierrc
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/chat/ChatWithPopover.tsx
  web/src/components/chat/Popover.tsx
  web/src/components/chat/index.test.tsx
  web/src/components/compose/BottomMenu.tsx
  web/src/components/compose/SearchBox.tsx
  web/src/components/compose/index.tsx
  web/src/components/upload-button.tsx
  web/src/lib/i18n.ts
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
  web/src/pages/config.tsx
  web/src/pages/home.tsx
  web/src/pages/notfound.tsx
Due: azure-pipelines.web.yml

fix(web): fix i18n namespace
  web/src/components/compose/index.tsx
  web/src/locales/index.ts
Due: azure-pipelines.web.yml

fix(web): localization
  web/src/App.scss
  web/src/App.tsx
  web/src/components/chat/Popover.tsx
  web/src/components/chat/index.tsx
  web/src/index.scss
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

feat(web): msg 主题部分本地化
  web/src/components/chat/ChatWithPopover.tsx
  web/src/components/chat/index.tsx
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
  web/src/pages/config.scss
Due: azure-pipelines.web.yml

feat(web): set language
  web/src/components/language.tsx
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
  web/src/pages/config.tsx
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

build(web): react-snap close crawl
  web/package.json
  web/src/components/chat/index.test.tsx
Due: azure-pipelines.web.yml

feat(web): localization
  web/src/components/chat/ChatWithPopover.tsx
  web/src/components/chat/Popover.tsx
  web/src/components/chat/buttons.tsx
  web/src/components/compose/BottomMenu.tsx
  web/src/components/compose/SearchBox.tsx
  web/src/components/compose/index.tsx
  web/src/components/gutter.tsx
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
Due: azure-pipelines.web.yml

feat(web): localization
  web/src/components/compose/SearchBox.tsx
  web/src/components/compose/index.tsx
  web/src/locales/en.ts
  web/src/locales/zh.ts
Due: azure-pipelines.web.yml

feat(web): config
  web/src/components/image-item.tsx
  web/src/components/image-list.tsx
  web/src/components/language.tsx
  web/src/locales/en.ts
  web/src/locales/zh.ts
  web/src/pages/config.tsx
Due: azure-pipelines.web.yml

fix(manifest): app id
  manifest/azure-pipelines.yml
Due: azure-pipelines.yml

feat(web): social
  web/public/favicon.ico
  web/public/index.html
Due: azure-pipelines.web.yml

feat(web): update icons
  web/public/android-chrome-192x192.png
  web/public/android-chrome-512x512.png
  web/public/apple-touch-icon.png
  web/public/favicon-16x16.png
  web/public/favicon-32x32.png
  web/public/favicon.ico
  web/public/index.html
  web/public/site.webmanifest
Due: azure-pipelines.web.yml

feat(web): 公测版提示
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

fix(web): remove unused var
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

fix(web): fix link
  web/public/index.html
Due: azure-pipelines.web.yml

refactor(web): remove unused
  web/src/App.tsx
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

feat(web): proto to send messages
  web/src/components/compose/ChatList.tsx
  web/src/components/compose/SearchBox.tsx
  web/src/components/compose/index.tsx
  web/src/components/compose/useMessages.tsx
  web/src/locales/en.ts
  web/src/locales/index.ts
  web/src/locales/zh.ts
Due: azure-pipelines.web.yml

feat(web): time localization
  web/package-lock.json
  web/package.json
  web/src/components/chat/Popover.tsx
  web/src/components/compose/ChatList.tsx
  web/src/components/compose/useMessages.tsx
  web/src/lib/i18n.ts
  web/src/locales/en.ts
  web/src/locales/zh.ts
  web/src/react-app-env.d.ts
Due: azure-pipelines.web.yml

feat(web): home
  web/src/components/compose/useMessages.tsx
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

chore(packages): web
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yml
