Repository NewFuture/my-stickers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.web.yml, azure-pipelines.yml

azure-pipelines.web.yml:
  jobs:
  - job: stciker_web_build
    displayName: Build Sticker Server API
    variables:
      NODE_ENV: production
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseNode@1
      displayName: Use Node version
    - task: Npm@1
      displayName: npm install
      inputs:
        workingDir: web
  ...

azure-pipelines.yml:
  jobs:
  - job: stciker_manifest_build
    displayName: Build Sticker manifest
    variables:
      WEB_HOST: stickers-api.newfuture.cc,
      HOSTNAME: sticker.newfuture.cc,
      AZURE_STORAGE_CDN: stickers.newfuture.cc,
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
  ...

update ci version
  .github/workflows/server.yml
  .github/workflows/web.yml
  web/azure-pipelines.yml
Due: azure-pipelines.web.yml

allowExpand: true
  manifest/src/manifest.json
  server/src/teams/query.ts
  web/src/services/teams.ts
Due: azure-pipelines.web.yml, azure-pipelines.yml

openApp
  server/src/teams/querySettingUrl.ts
Due: none

update web deps
  web/package-lock.json
  web/package.json
  web/src/pages/config.tsx
  web/src/services/teams.ts
Due: azure-pipelines.web.yml

init
  web/src/services/teams.ts
Due: azure-pipelines.web.yml

update teams sdk
  web/package-lock.json
  web/package.json
  web/src/services/teams.ts
Due: azure-pipelines.web.yml

change auth method
  server/src/teams/getConfigUrl.ts
  web/src/services/teams.ts
Due: azure-pipelines.web.yml

ReactSnap
  web/src/pages/config.tsx
Due: azure-pipelines.web.yml

node version
  .github/workflows/server.yml
  .github/workflows/web.yml
Due: none

lock file
  web/package-lock.json
Due: azure-pipelines.web.yml

update
  server/package-lock.json
  server/package.json
  web/package-lock.json
Due: azure-pipelines.web.yml

yarn
  .github/workflows/server.yml
  .github/workflows/web.yml
  .gitignore
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  server/package.json
  web/package.json
  yarn.lock
Due: azure-pipelines.web.yml

update ci
  .github/workflows/server.yml
  .github/workflows/web.yml
Due: none

fix deps
  .github/workflows/server.yml
  .github/workflows/web.yml
  package.json
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
  web/src/lib/i18n.ts
  web/src/services/teams.ts
  yarn.lock
Due: azure-pipelines.web.yml

fix ci
  .github/workflows/server.yml
  .github/workflows/web.yml
Due: none

fix build
  web/src/lib/i18n.ts
Due: azure-pipelines.web.yml

fix token
  web/src/services/teams.ts
Due: azure-pipelines.web.yml

fix deps
  .vscode/settings.json
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  manifest/package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/webpack.config.js
  web/package-lock.json
  web/package.json
  web/src/components/header/upload-button.tsx
  web/src/components/markdown.tsx
  yarn.lock
Due: azure-pipelines.web.yml, azure-pipelines.yml

update pack tool
  manifest/gulpfile.js
  manifest/package.json
  manifest/stickers/icon-color.png
  manifest/stickers/icon-outline.png
  manifest/stickers/manifest.json
  manifest/stickers/zh-cn.json
  yarn.lock
Due: azure-pipelines.yml

init workspace
  .gitignore
  package.json
  stickers.code-workspace
Due: none

config app
  client-config-app/package.json
  client-config-app/public/index.html
  client-config-app/src/App.tsx
  client-config-app/src/header/LanguageButton.tsx
  client-config-app/src/header/headerBtns.tsx
  client-config-app/src/header/upload-button.tsx
  client-config-app/src/index.tsx
  client-config-app/src/lib/http.ts
  client-config-app/src/lib/i18n.ts
  client-config-app/src/lib/store.ts
  client-config-app/src/list/image-item.tsx
  client-config-app/src/list/image-list.tsx
  client-config-app/src/list/index.tsx
  client-config-app/src/list/item.scss
  client-config-app/src/locales/en.ts
  client-config-app/src/locales/index.ts
  client-config-app/src/locales/zh.ts
  client-config-app/src/model/sticker.ts
  client-config-app/src/react-app-env.d.ts
  client-config-app/src/reducer/exitable.ts
  client-config-app/src/reducer/index.ts
  client-config-app/src/reducer/status.ts
  client-config-app/src/reducer/stickers.ts
  client-config-app/src/services/stickers.ts
  client-config-app/src/services/teams.ts
  client-config-app/src/services/upload.ts
  client-config-app/tsconfig.json
  package.json
  stickers.code-workspace
  website/src/App.tsx
  website/tsconfig.json
  yarn.lock
Due: none

"hydrateRoot" and markdown
  website/package.json
  website/src/components/markdown.tsx
  website/src/index.tsx
  website/src/lib/routes.tsx
  website/src/pages/home.tsx
  website/src/pages/markdownPage.tsx
  website/src/pages/privacy.tsx
  website/src/pages/terms.tsx
Due: none

update deps
  client-config-app/src/header/upload-button.tsx
  package.json
  website/package.json
  yarn.lock
Due: none

update readme
  readme.md
Due: none

init stickers
  client-config-app/package.json
  package.json
  readme.md
  stickers.code-workspace
  stickers/collection-name/README.md
  yarn.lock
Due: none

init stickers (#93)
  client-config-app/package.json
  package.json
  readme.md
  stickers.code-workspace
  stickers/collection-name/README.md
  yarn.lock
Due: none

move ReadMe
  stickers/README.md
Due: none

update lock files
  yarn.lock
Due: none

update nodemon
  package.json
  server/package.json
  yarn.lock
Due: none

github codespaces
  .devcontainer/devcontainer.json
  readme.md
Due: none

fix link
  readme.md
Due: none

update config file
  .gitignore
  client-config-app/.env.development
  client-config-app/.env.production
  client-config-app/package.json
  manifest/.env
  manifest/package.json
  package.json
  website/.gitignore
  yarn.lock
Due: azure-pipelines.yml

fix breaks
  website/src/components/Prototype.tsx
  website/src/components/chat/Popover.tsx
  website/src/components/compose/index.tsx
  website/src/components/compose/useMessages.tsx
Due: none

use PropsWithChildren
  website/src/components/Prototype.tsx
Due: none

Fix react update breaks (#95)
  website/src/components/Prototype.tsx
  website/src/components/chat/Popover.tsx
  website/src/components/compose/index.tsx
  website/src/components/compose/useMessages.tsx
Due: none

update deps
  client-config-app/README.md
  client-config-app/package.json
  client-config-app/src/App.tsx
  client-config-app/src/header/LanguageButton.tsx
  client-config-app/src/header/headerBtns.tsx
  client-config-app/src/header/upload-button.tsx
  client-config-app/src/list/image-item.tsx
  client-config-app/src/list/image-list.tsx
  client-config-app/src/services/teams.ts
  readme.md
  stickers.code-workspace
  website/package.json
  yarn.lock
Due: none

update readme
  .devcontainer/devcontainer.json
  image-functions/README.md
  official-stickers/README.md
  official-stickers/collection-name/index.json
  readme.md
  stickers.code-workspace
Due: none

Path conditions:
  azure-pipelines.web.yml: any of: web, azure-pipelines.web.yml
  azure-pipelines.yml: any of: manifest
