Repository NewFuture/my-stickers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.web.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines.web.yml: any of: web, azure-pipelines.web.yml
  azure-pipelines.yml: any of: manifest

refactor(web): style 兼容处理
  web/src/App.tsx
  web/src/index.tsx
Due: azure-pipelines.web.yml

feat(manifest): update color icon
  manifest/package.json
  manifest/src/icon-color.png
  manifest/src/manifest.json
Due: azure-pipelines.yml

message for save fail
  server/locale/en.json
  server/locale/zh.json
  server/src/config/locale.ts
  server/src/teams/fetchTask.ts
Due: none

message
  server/locale/en.json
  server/locale/zh.json
  server/src/teams/fetchTask.ts
Due: none

feat(terms): remove Microsoft and add contact info
  web/src/markdown/privacy.md
  web/src/markdown/terms.md
Due: azure-pipelines.web.yml

update packages
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yml

update terms
  web/src/markdown/terms.md
Due: azure-pipelines.web.yml

update
  web/src/markdown/privacy.md
  web/src/markdown/terms.md
Due: azure-pipelines.web.yml

fix(manifest): 1 Outline icon white
  manifest/src/icon-outline.png
Due: azure-pipelines.yml

fix(manifest): short name Custom Stickers
  manifest/src/manifest.json
Due: azure-pipelines.yml

fix(server): bigint type
  server/src/services/database.ts
  server/src/services/sticker.ts
Due: none

chore(manifest): update version
  manifest/package.json
Due: azure-pipelines.yml

update(web): privacy
  web/src/markdown/privacy.md
Due: azure-pipelines.web.yml

fix(web): link
  web/src/components/language.tsx
  web/src/markdown/privacy.md
Due: azure-pipelines.web.yml

update
  web/src/markdown/privacy.md
Due: azure-pipelines.web.yml

feat(taskmodal): update size
  server/src/teams/fetchTask.ts
Due: none

feat(manifest): name 表情包
  manifest/package.json
  manifest/src/zh-cn.json
Due: azure-pipelines.yml

feat(web): footer link
  web/src/components/Footer.tsx
Due: azure-pipelines.web.yml

feat(manifest): update description and bot-id
  manifest/azure-pipelines.yml
  manifest/package.json
  manifest/src/manifest.json
  manifest/src/zh-cn.json
Due: azure-pipelines.yml

list
  manifest/src/manifest.json
  manifest/src/zh-cn.json
Due: azure-pipelines.yml

feat(server): task height
  server/src/teams/fetchTask.ts
Due: none

fix(server): task Modal width
  server/src/teams/fetchTask.ts
Due: none

ci(server): azureSubscription
  server/azure-pipelines.yml
Due: none

ci: azureSubscription custom-stickers
  manifest/azure-pipelines.yml
  server/azure-pipelines.yml
  web/azure-pipelines.yml
Due: azure-pipelines.web.yml, azure-pipelines.yml

format(manifest): description
  manifest/src/manifest.json
  manifest/src/zh-cn.json
Due: azure-pipelines.yml

fix(server): width
  server/src/teams/fetchTask.ts
Due: none

feat(manifest):update
  manifest/src/manifest.json
Due: azure-pipelines.yml

Custom Stickers
  manifest/src/manifest.json
Due: azure-pipelines.yml

imgs
  manifest/screenshots/en/1.png
  manifest/screenshots/en/2.png
  manifest/screenshots/en/3.png
  manifest/screenshots/zh/1.png
  manifest/screenshots/zh/2.png
  manifest/screenshots/zh/3.png
Due: azure-pipelines.yml

fix typos
  manifest/src/manifest.json
Due: azure-pipelines.yml

update
  manifest/src/manifest.json
  manifest/src/zh-cn.json
Due: azure-pipelines.yml

fix typos
  manifest/screenshots/en/2.png
Due: azure-pipelines.yml

help page
  web/public/help.html
Due: azure-pipelines.web.yml

search
  web/public/help.html
Due: azure-pipelines.web.yml

h1
  web/public/help.html
Due: azure-pipelines.web.yml

update home page
  web/public/img/en.png
  web/public/img/zh.png
  web/src/locales/en.ts
  web/src/locales/zh.ts
  web/src/pages/home.tsx
Due: azure-pipelines.web.yml

update deps for web
  web/package-lock.json
  web/package.json
  web/src/services/teams.ts
  web/tsconfig.json
Due: azure-pipelines.web.yml

fix eslint
  web/src/components/header/headerBtns.tsx
  web/src/reducer/index.ts
  web/src/services/teams.ts
Due: azure-pipelines.web.yml

update deps
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yml
